/* src/pages/Partners.css */
.partners-container {
    padding: 20px;
  }
.partners-container h1 {
    text-align: center;
  }

  .partners-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Tata letak grid responsif */
    gap: 20px;
  }
  
  .partner-logo {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease; /* Efek transisi hover */
  }
  
  .partner-logo:hover {
    opacity: 0.7; /* Ubah opacity saat hover */
  }
  